<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Brugner.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<staticContent>
				<mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
				<mimeMap fileExtension=".tab" mimeType="text/plain" />
				<mimeMap fileExtension=".png" mimeType="image/gif" />
				<mimeMap fileExtension=".htm" mimeType="text/html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
				<mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
				<mimeMap fileExtension=".png" mimeType="image/jpeg" />
				<mimeMap fileExtension=".js" mimeType="application/x-javascript" />
				<mimeMap fileExtension=".png" mimeType="image/png" />
				<mimeMap fileExtension=".txt" mimeType="text/plain" />
				<mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>